opencv-python>=4.9.0.80
diffusers==0.32.2
transformers>=4.49.0
tokenizers==0.21.1
accelerate>=1.1.1
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
gradio>=5.0.0
fastapi
uvicorn
numpy>=1.23.5,<2
boto3
python-dotenv
git+https://github.com/zhumakhan/long-context-attention.git@cudnn
xfuser==0.4.3.post3
sentencepiece==0.2.0
polygraphy
einops
cuda-python==13.0.0
colored
sentry-sdk
prometheus-client
watchtower
librosa
# tensorrt==10.15.1.29
color-matcher
safetensors
higgsmeter==0.1.1